<ng-container *ngIf="{ league: league$ | async, managers: managers$ | async } as leagueInfo; else loading">
  <ng-container *ngIf="leagueInfo.league as league">
    <ng-container *ngIf="leagueInfo.managers as managers">
      <div>
        <h5>{{ 'pages.league.name' | translate }}</h5>
        {{ league.name }}
      </div>
      <div>
        <h5>{{ 'pages.league.is-owner' | translate }}</h5>
        {{ isOwner(managers) }}
      </div>
      <div>
        <div>
          <h5>{{ 'pages.league.start-date' | translate }}</h5>
          {{ league.startDate | date }}
        </div>
        <div>
          <h5>{{ 'pages.league.end-date' | translate }}</h5>
          {{ league.endDate | date }}
        </div>
      </div>
      <div class="no-league" *ngIf="!league">
        <h4>League not found</h4>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="loading">
    <fa-icon icon="spinner" [spin]="true" size="3x"></fa-icon>
  </div>
</ng-template>
