.leagues .leageues-item {
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  align-items: center;
  cursor: pointer;
}

.leagues .leagues-icon {
  flex: 0 0 60px;
}

.leagues .leagues-name {
  font-weight: 800;
  flex: 1 0 30%;
}

.leagues .leagues-owner {
  flex: 1 0 30%;
}

.leagues .leagues-period {
  text-align: left;
  flex: 0 0 auto;
}

.leagues {
  padding-bottom: 5px;
}

.loading {
  text-align: center;
}

/* Big Screen Only */
@media only screen and (min-width: 992px) {
  .flex-container .flex-left {
    padding-top: 20px;
    padding-right: 5px;
  }
}

/* Small Screen Only*/
@media only screen and (max-width: 991px) {
  .flex-container .flex-left {
    padding-top: 5px;
  }
}

.no-leagues {
  padding-bottom: 5px;
}
