<div class="flex-container">
    <div class="flex-left">
        <button type="button" class="btn btn-primary btn-block">{{ 'pages.leagues.create-league' | translate }}</button>
    </div>
    <div class="flex-right">
      <h1>{{ 'pages.leagues.leagues' | translate }}</h1>
      <div class="leagues" *ngIf="(leagues$ | async) as leagues; else loading">
        <div class="leageues-item" (click)="goToLeague(league)" *ngFor="let league of leagues" >
          <img class="leagues-icon" src="/assets/images/game-icons/starcraft.png" width="50px" height="50px">
          <div class="leagues-name">
              {{ league.name }}
          </div>
          <div class="leagues-id">
              {{ league.id }}
          </div>
          <div class="leagues-owner">
              {{ league.ownerDisplayName }}
          </div>
        </div>
      </div>
      <ng-template #loading>
        <div class="loading">
            <fa-icon icon="spinner" [spin]="true" size="3x"></fa-icon>
        </div>
      </ng-template>
    </div>
  </div>
